<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.StyleSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.ApiKeysActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.screens.AutoSwitchWallpaperActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.SplashSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.FullscreenClockSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent" />
        <activity
            android:name=".ui.screens.FullscreenClockActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.LiquidGlassSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.OpenSourceLicensesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.screens.WallpaperScopeSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Transparent"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <receiver
            android:name=".ui.screens.AutoSwitchReceiver"
            android:exported="false" />

        <receiver
            android:name=".ui.widget.TodayWallpaperWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_wallpaper_2x2" />
        </receiver>

        <service
            android:name=".service.ClockMediaNotificationListenerService"
            android:label="全屏时钟媒体信息"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.widget.TodayWallpaperWidget2x1Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_wallpaper_2x1" />
        </receiver>

        <receiver
            android:name=".ui.widget.TodayWallpaperWidget4x2Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_wallpaper_4x2" />
        </receiver>
    </application>

</manifest>
